*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s ease-out;
}

html {
  height: 100%;
}

body {
  min-height: 100vh; /* Ocupa a altura total da viewport */
  width: 100%; /* Ocupa a largura total da viewport */
  /* Remova margens e paddings padrões do body se necessário */
  margin: 0;
  padding: 0;
}